# dependencies
/node_modules
/.pnp
.pnp.js
/rest-api/venv

# testing
/coverage

# production
/build
/.idea
/rest-api/.idea
/rest-api/node_modules
/rest-api/venv
/rest-api/__pycache__/
/.cache
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
